<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div id="Name">
        This is Abid
    </div>

    <div id="middle">
        This is Middle
    </div>

    <input type="text"  id="FirstName"  />

    <input type="text" id="LastName" />

    <button onclick="Updatesentence()"> Change Sentance</button>
    <button onmouseout="RemoveLastitem()" onmouseover="SetFirstToLastitem()"> Mouse Over</button>


    <script src="../Scripts/Project/Index.js"></script>
</body>
</html>